.contact {
  overflow: auto;
  background: $color-white;
  background-image: url("../img/contact_img-small.jpg");
  background-size: cover;
  background-position: center;
  grid-column: full-start / full-end;
  padding: 10rem 8vw 12rem;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-row-gap: 2rem;
  opacity: 1;

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: url("../img/contact_img.jpg");
  }

  @media only screen and (max-width: $bp-small) {
    padding: 4rem 2vw 8rem;
  }
}

.form {
  &__group {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50rem;

    @media only screen and (max-width: $bp-small) {
      padding: 2rem;
      width: 100vw;
    }
  }

  &__group:not(:last-child) {
    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 0;
    }
  }

  &__input,
  &__request {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    background-color: #e4e4e4;
    border: none;
    width: 100%;
    display: block;
    transition: all 0.3s;
    box-shadow: inset 4px 0 0 0 $color-primary;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-1;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}

.contact_form {
  text-align: center;
}
