.header {
  background-color: $color-white;
  grid-column: full-start / full-end;
  background-image: url("hex.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 5rem;
  }

  &__logo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: 4.5rem;
    align-self: center;
    justify-self: center;
  }

  &__sidebar {
    grid-row: 10/11;
    grid-column: 1 / 2;
    align-self: start;
    transform: rotate(90deg);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.3rem;

    color: $color-black;
    opacity: 0.6;
  }

  &__big {
    grid-row: 1 / 4;
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
    color: #fcfcfc;
    text-transform: uppercase;
    letter-spacing: 6rem;
    margin-right: -6rem;
    font-size: 10.5rem;
    font-weight: bold;
    opacity: 0.8;
    text-shadow: 4px 2px 0px #051627;
    @media only screen and (max-width: $bp-large) {
      letter-spacing: 4rem;
      margin-right: -4rem;
      font-size: 9.5rem;
    }

    @media only screen and (max-width: $bp-medium) {
      letter-spacing: 2rem;
      margin-right: -2rem;
      font-size: 7.5rem;
    }
    @media only screen and (max-width: $bp-small) {
      letter-spacing: 1rem;
      margin-right: -1rem;
      font-size: 5.5rem;
    }
  }

  &__ideas {
    grid-row: 2 / 6;
    grid-column: 1/ -1;
    justify-self: center;
    align-self: center;
    font: bold 8.5rem "sk", sans-serif;
    color: $color-black;
    @media only screen and (max-width: $bp-medium) {
      font-size: 7.5rem;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 5.5rem;
    }
  }

  &__brought {
    grid-row: 4 / 7;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
    font: bold 8.5rem "sk", sans-serif;
    color: $color-black;
    @media only screen and (max-width: $bp-medium) {
      font-size: 7.5rem;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 5.5rem;
    }
  }

  &__typing {
    grid-row: 7 / 8;
    grid-column: 1 / -1;
    justify-self: center;
    font-family: "spartan_regular", sans-serif;
    font-size: 2.5rem;
    opacity: 0;
    animation: appear 0.8s ease-in forwards;
    animation-delay: 2.9s;
    margin-top: 5rem;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 0.9;
    }
  }

  &__social {
    grid-row: 5 / 8;
    grid-column: 10 / 11;
    justify-self: center;
    align-self: center;
    margin-left: 6rem;

    a {
      &:hover img {
        opacity: 0.6;
        transition: all ease 0.3s;
      }
      @media only screen and (max-width: $bp-small) {
        grid-column: 1 / -1;
      }
    }
  }

  &__btn {
    grid-row: 8 / 10;
    grid-column: 1 / -1;
    align-self: center;
    padding: 2rem 3.5rem;
    justify-self: center;
  }
}

.reveal {
  position: relative;
  // width: 7em;
  margin: 0 auto;

  & span {
    opacity: 0;
    animation: reveal 0.0001s linear forwards;
    animation-delay: 1.4s;
  }

  &::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 110%;
    background: $color-black;
    animation: revealing 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 1s;
  }
}

@keyframes revealing {
  0% {
    left: 0;
    width: 0%;
  }

  50% {
    left: 0;
    width: 100%;
  }

  100% {
    left: 100%;
    width: 0%;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#revTwo {
  margin-bottom: 5rem;

  & span {
    animation-delay: 2s;
  }
}

#revTwo.reveal:after {
  background: $color-black;
  animation-delay: 1.4s;
}
