.header {
  background-color: $color-white;
  grid-column: full-start / full-end;
  background-image: url("../img/hex-small.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: url("../img/hex.jpg");
  }

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
    padding: 2rem;
  }

  @media only screen and (max-width: $bp-small) {
    background-position: right;
  }

  @media only screen and (max-height: $bp-xsSmall) {
    padding: 0;
  }

  &__logo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: 4.5rem;
    width: 6rem;
    align-self: center;
    justify-self: center;
    margin-right: 4rem;

    @media only screen and (max-width: $bp-medium) {
      justify-self: start;
      align-self: start;
    }
    @media only screen and (max-height: $bp-xsSmall) {
      display: none;
    }
    @media only screen and (max-width: $bp-xsSmall) {
      display: none;
    }
  }

  &__big {
    grid-row: 1 / 4;
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
    color: #201f1c36;
    text-shadow: 0px 0px 2px #201f1c6e;
    text-transform: uppercase;
    font-family: "sui", sans-serif;
    letter-spacing: 6rem;
    margin-right: -6rem;
    font-size: 9rem;
    font-weight: 100;
    // opacity: 0.8;
    // text-shadow: 4px 2px 0px #051627;
    background-image: url(https://media.giphy.com/media/Xs8yAZQYCI2oE/giphy.gif);

    background-position: center;
    background-size: contain;
    -webkit-background-clip: text;

    @media only screen and (max-width: $bp-largest) {
      letter-spacing: 4rem;
      margin-right: -4rem;
      font-size: 12rem;
    }

    @media only screen and (max-width: $bp-large) {
      font-size: 9.2rem;
    }

    @media only screen and (max-width: $bp-medium) {
      letter-spacing: 2.5rem;
      margin-right: -2.5rem;
      font-size: 7.5rem;
    }

    @media only screen and (max-width: $bp-small) {
      letter-spacing: 1rem;
      margin-right: -1rem;
      font-size: 6rem;
    }

    @media only screen and (max-width: $bp-xsSmall) {
      font-size: 4.5rem;
    }
    @media only screen and (max-height: $bp-xsSmall) {
      transform: translateY(1.5rem);
    }
  }

  &__ideas {
    grid-row: 4 / 5;
    grid-column: 1/ -1;
    justify-self: center;
    align-self: center;
    font: 8rem "montserrat_bold", sans-serif;
    color: $color-secondary;
    margin: 3rem 0 -1rem 0;

    @media only screen and (max-width: $bp-medium) {
      font-size: 7.5rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 5.5rem;
    }

    @media only screen and (max-width: $bp-xsSmall) {
      font-size: 5rem;
    }
  }

  &__brought {
    grid-row: 5 / 7;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
    font: 8rem "montserrat_bold", sans-serif;
    color: $color-secondary;

    @media only screen and (max-width: $bp-medium) {
      font-size: 7.5rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 5.5rem;
    }

    @media only screen and (max-width: $bp-xsSmall) {
      font-size: 4.4rem;
    }
    @media only screen and (max-height: $bp-xsSmall) {
      transform: translateY(1.5rem);
    }
  }

  &__typing {
    grid-row: 7 / 8;
    grid-column: 1 / -1;
    justify-self: center;
    font-family: "spartan_regular", sans-serif;
    font-size: 2.5rem;
    opacity: 0;
    animation: appear 0.8s ease-in forwards;
    animation-delay: 2.9s;
    margin-top: 5rem;
  }

  a {
    grid-row: 9 / 10;
    grid-column: 1 / -1;
    align-self: center;
    padding: 2rem 3rem;
    justify-self: center;

    @media only screen and (max-height: $bp-xsSmall) {
      padding: 0;
    }
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 0.9;
    }
  }
}

.reveal {
  position: relative;
  // width: 7em;

  & span {
    opacity: 0;
    animation: reveal 0.0001s linear forwards;
    animation-delay: 1.5s;
  }

  &::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 110%;
    background: $color-primary;
    animation: revealing 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 1s;
  }
}

@keyframes revealing {
  0% {
    left: 0;
    width: 0%;
  }

  50% {
    left: 0;
    width: 100%;
  }

  100% {
    left: 100%;
    width: 0%;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#revTwo {
  & span {
    animation-delay: 2s;
  }
}

#revTwo.reveal:after {
  background: $color-primary;
  animation-delay: 1.4s;
}

.main_btn {
  opacity: 0;
  animation: slideUp 1s forwards;
  animation-delay: 4s;
}

.slideInUp {
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
}

@keyframes slideUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
