.services {
  overflow: auto;

  grid-column: col-start 1 / col-end 8;
  margin: 15rem 0;
  display: grid;
  //grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 6rem;
  align-items: start;
  padding: 5rem;

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  }

  @media only screen and (max-width: $bp-medium) {
    margin: 10rem 0;
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  }

  @media only screen and (max-width: $bp-xsSmall) {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    padding: 0;
  }
}

.service {
  float: left;
  width: 50%;
  margin-bottom: 6rem;
  padding: 2rem 5rem;

  @supports (display: grid) {
    width: auto;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;
    padding: 0;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 0;
    width: auto;
  }

  @media only screen and (max-width: $bp-small) {
    grid-row-gap: 0.5rem;
    grid-column-gap: 1.5rem;
  }

  &__icon {
    fill: $color-primary;
    width: 5.5rem;
    height: 7rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem);

    @media only screen and (max-width: $bp-medium) {
      width: 4.5rem;
      height: 4.5rem;
    }

    @media only screen and (max-width: $bp-xsSmall) {
      margin-top: 1rem;
    }
  }

  h4 {
    font-size: 3rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 2.5rem;
    }
  }

  &__text {
    font-size: 2rem;
    color: $color-grey-light-2;

    @media only screen and (max-width: $bp-small) {
      grid-column: 1 / span 2;
    }
  }
}

.services_all {
  box-shadow: inset 0px -0.2rem #eb4325;
  color: #cccccc;
}
