%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: 8rem;
  color: $color-white;
  line-height: 1;
  margin: 3rem 0 5rem;
  box-shadow: 0px 6px 0px 0px $color-white;

  &--dark {
    color: $color-grey-dark-1;
  }
}

.heading-2 {
  @extend %heading;
  font-size: 8rem;
  color: $color-white;
  line-height: 1;
  margin: 3rem 0 5rem;
  box-shadow: 0px 6px 0px 0px $color-secondary;

  &--light {
    color: $color-grey-light-1;
  }

  &--dark {
    color: $color-secondary;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 6.2rem;
  }
}

.heading-3 {
  @extend %heading;
  font-size: 2rem;
  color: $color-primary;
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {
    color: $color-primary;
    font-size: 3.5rem;
  }

  &--dark {
    color: $color-white;
  }
}

.btn {
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: $font-display;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: $color-secondary;
  }
}

.fa_menu {
  font-size: 2.2rem;
}

.fa:hover {
  color: $color-primary;
}

.mb-sm {
  margin-bottom: 4rem;
  color: $color-secondary;
  text-align: center;
  box-shadow: none;
}

.mb-sm-1 {
  padding: 3rem 0;
}

.cnt {
  box-shadow: 0px 6px 0px 0px #051627;
}

.mb-md {}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

.bold {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.heading-5 {
  margin-top: 2rem;
  font-size: 2rem;
}