.work {
  grid-column: full-start / full-end;
  padding: 10rem 10rem;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 5rem;
  opacity: 0.85;

  background-image: linear-gradient(
      to right,
      rgba($color-black, 0.5),
      rgba($color-primary, 0.5)
    ),
    url(../img/hustle.jpg);
  background-size: cover;
  background-position: left;
  background-attachment: fixed;

  @media only screen and (max-width: $bp-small) {
    grid-column: full-start / full-end;
    padding: 10rem 5rem;
  }

  img {
    width: 100%;
  }

  h3 {
    @media only screen and (max-width: $bp-small) {
      font-size: 4.6rem;
    }

    @media only screen and (max-width: $bp-xsSmall) {
      font-size: 4rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 2rem;
    grid-row-gap: 10vh;
    align-items: start;

    @media only screen and (max-width: $bp-largest) {
      grid-template-columns: 1fr;

      grid-row-gap: 0vh;
    }
  }

  &__img {
    // width: 80rem;
    border-radius: 1%;
    display: block;
    margin-bottom: 3rem;
  }

  &__details {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: 2rem;
    font-size: 1.8rem;
    margin-bottom: 3rem;

    @media only screen and (max-width: $bp-small) {
      margin-bottom: 4rem;
    }
  }
}
