.work {
  background-color: $color-secondary;
  grid-column: center-start / center-end;
  padding: 3rem;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 2rem;
  img {
    width: 100%;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center;
  }

  &__img {
    // width: 80rem;
    border-radius: 1%;
    display: block;
  }

  &__details {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
  }
}
