.work {
  background-color: $color-secondary;
  grid-column: center-start / center-end;
  padding: 10rem 4rem;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 5rem;

  @media only screen and (max-width: $bp-small) {
    grid-column: full-start / full-end;
    padding: 10rem 5rem;
  }

  img {
    width: 100%;
  }

  h3 {
    @media only screen and (max-width: $bp-small) {
      font-size: 4.6rem;
    }

    @media only screen and (max-width: $bp-xsSmall) {
      font-size: 4rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: 1fr;
      grid-row-gap: 0vh;
    }
  }

  &__img {
    // width: 80rem;
    border-radius: 1%;
    display: block;
  }

  &__details {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: 2rem;
    font-size: 1.8rem;

    @media only screen and (max-width: $bp-small) {
      margin-bottom: 4rem;
    }
  }

  &__light_walk {
    color: #e7a369;
    font-size: 3.5rem;
  }

  &__bl_system {
    color: #e64047;
    font-size: 3.5rem;
  }

  &__designer_shop {
    color: #ffffff;
    font-size: 3.5rem;
  }
}
