/*General Styles*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: spartan_regular;
	src: url(spartan_regular.otf);
}

@font-face {
	font-family: sk;
	src: url(sk.otf);
}

html {
	font: normal 1rem spartan_regular, sans-serif;
	color: #fff;
}

body {
	overflow: hidden;

}

ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
}

a.btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: rgb(0, 0, 0);
	color: #fff;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

section:not(.hero):nth-child(even) {
	background-color: #fff;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: #333;
}

section h2.title_about {
	text-transform: capitalize;
	font: bold 5rem 'sk', sans-serif;
	margin-bottom: 30px;
	text-align: center;
	color: #333;
}

section h2.title_about::after {
	content: '\00a0';
	display: block;
	height: 8px;
	margin-top: 1rem;
	background: #333;
}

/* -------------------Screen Wipe-------------------------- */

.screen-wipe-top {
	width: 100%;
	height: 100vh;
	background: rgb(0, 0, 0);
	position: fixed;
	z-index: 1000;
	top: -110%;
}

.screen-wipe-bottom {
	width: 100%;
	height: 100vh;
	background: rgb(0, 0, 0);
	position: fixed;
	z-index: 1000;
	bottom: -110%;
}

/*Header Styles*/

.header-home {
	position: absolute;
	width: 100%;
	display: inline-block;
	padding: 40px;
	z-index: 10;
}

.header-logo {
	display: inline-block;
	width: 50px;
}

.logo img {
	width: 100%;
}


/* ------------------Menu --------------*/

.nav-icon {
	width: 2rem;
	height: 1.2rem;
	top: 2.5rem;
	right: 2rem;
	position: absolute;
	transition: .5s ease-in-out;
	cursor: pointer;
	margin-top: 7px;
	z-index: 5;
}

.nav-icon span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: rgb(0, 0, 0);
	opacity: 1;
	transition: .25s ease-in-out;
}

.nav-icon span:nth-child(1) {
	top: 0rem;
}

.nav-icon span:nth-child(2) {
	top: .5rem;
}

.nav-icon span:nth-child(3) {
	top: 1rem;
	width: 60%;
	right: 0;
}

.nav-icon:hover span:nth-child(3) {
	width: 100%;
}


/*------------------------ 2.1 Full Menu ------------------------*/

.full-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

/* Full Menu */

.full-menu .modal-close {
	/* 'X' icon */
	position: absolute;
	z-index: 9999;
	top: 0;
	right: 0;
	padding: 50px;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.3) url(cd-icon-close.svg)no-repeat center center;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	visibility: hidden;
	opacity: 0;
	transform: scale(0);
	visibility: 0s 0.3s, opacity 0.3s 0s;
	transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}

.no-touch .full-menu .modal-close:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.full-menu.visible {
	background-size: 100%;
	opacity: 1;
	visibility: visible;
	transition: opacity 0.7s, visibility 0s;
}

.full-menu.visible .fullmenu-content {
	-webkit-overflow-scrolling: touch;
}

.full-menu.visible .modal-close {
	visibility: visible;
	opacity: 1;
	transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
	transform: scale(1);
}

@media only screen and (min-width: 1100px) {
	.full-menu .fullmenu-content {
		padding: 6em 5%;
	}

	.full-menu .modal-close {
		height: 60px;
		width: 60px;
	}

	.full-menu p {
		font-size: 25px;
	}
}

.cd-transition-layer {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
}

.cd-transition-layer .bg-layer {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translateY(-50%) translateX(-2%);
	transform: translateY(-50%) translateX(-2%);
	height: 100%;
	/* our sprite is composed of 25 frames */
	width: 2500%;
	background: url(ink.png) no-repeat 0 0;
	background-size: 100% 100%;
}

.cd-transition-layer.visible {
	opacity: 1;
	visibility: visible;
}

.cd-transition-layer.opening .bg-layer {
	animation: cd-sequence 1.0s steps(24);
	animation-fill-mode: forwards;
}

.cd-transition-layer.closing .bg-layer {
	animation: cd-sequence-reverse 1.0s steps(24);
	animation-fill-mode: forwards;
}

.no-cssanimations .cd-transition-layer {
	display: none;
}


@keyframes cd-sequence {
	0% {
		transform: translateY(-50%) translateX(-2%);
	}

	100% {
		transform: translateY(-50%) translateX(-98%);
	}
}

@keyframes cd-sequence-reverse {
	0% {

		transform: translateY(-50%) translateX(-98%);
	}

	100% {

		transform: translateY(-50%) translateX(-2%);
	}
}


/*------------------------ 2.2 Header ------------------------*/

.full-menu .fullmenu-content {
	height: 100%;
	width: 100%;
	display: table;
}

.page-menu {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.page-menu li {
	line-height: 50px;
	margin-left: -25px;
}

.page-menu li:last-child {
	line-height: 90px;
}

.page-menu li a {
	color: rgb(255, 255, 255);
	font-size: 26px;
	position: relative;
	font-weight: 500;

}

.social img {
	width: 15px;
}

.main .social {
	margin-top: 30px;
}

.social a {
	margin-right: 20px;
}

.social a:hover img {
	opacity: .6;
	transition: all ease 0.3s;
}

.social a:last-child {
	margin-right: 0px;
}

.fa:hover {
	color: #3ee7d6;
}

/* -------------HERO--------------------- */

.kreative {
	position: relative;
	margin: -0.5em 0 1em .5em;
	text-transform: uppercase;
	letter-spacing: 4rem;
	font-size: 7rem;
	font-weight: bold;
	opacity: .1;
	text-shadow: 6px 5px 0 #3ee7d6;
}

.social__main_list {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 0.8em;
	margin: 0 auto;
	position: absolute;
	right: -20px;
	top: 42%;
	width: 140px;
	color: #9ea0a6;
	opacity: 0.4;
}

.social__main_list li {
	list-style: none;
	margin-bottom: 10px;
}

.social__main_list li:hover {
	opacity: 0.8;
	transition: all 0.4s linear;
}

.reveal {
	position: relative;
	width: 7em;
	margin: 0 auto;
}

.reveal span {
	opacity: 0;
	animation: reveal 0.0001s linear forwards;
	animation-delay: 1.4s
}

.reveal:after {
	content: "";
	top: 0;
	left: 0;
	position: absolute;
	width: 0%;
	height: 102%;
	background: #222;
	animation: revealing 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
	animation-delay: 1s;
}

@keyframes revealing {
	0% {
		left: 0;
		width: 0%;
	}

	50% {
		left: 0;
		width: 100%
	}

	100% {
		left: 100%;
		width: 0%;
	}
}

@keyframes reveal {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#revTwo {
	width: 7.5em;
	margin-bottom: 5rem;
}

#revTwo span {
	animation-delay: 2s;
}

#revTwo.reveal:after {
	background: #222;
	animation-delay: 1.4s;
}

header nav {
	display: flex;
	margin-right: -15px;
}

header nav li {
	margin: 0 15px;
}

/*Hero Styles*/

.side__bar {
	transform: rotate(90deg);
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 0.8em;
	margin: 0 auto;
	position: absolute;
	left: -20px;
	top: 44%;
	width: 140px;
	color: #9ea0a6;
	opacity: 0.6;
}

.hero {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #333;
}

.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	background-color: #fff;
}

.hero h1 {
	font: bold 5rem 'sk', sans-serif;
	color: #222;
}

.hero h3 {
	font: normal 28px "spartan_regular", sans-serif;
	margin-bottom: 40px;
}

.hero-content-area {
	width: 100%;
}

.typing {
	font-family: 'spartan_regular', sans-serif;
	font-size: 1.4rem;
	opacity: 0;
	animation: appear 0.8s ease-in forwards;
	animation-delay: 2.9s;
}

@keyframes appear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: .9;
	}
}


/* Buttons */

.main_button {
	align-items: center;
	margin-top: 5%;
	display: flex;
	height: 200px;
	width: 100%;
	justify-content: center;
	padding: 0;
	opacity: 0;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	animation: fade 1s forwards 4s ease-in;
}

.button span {
	color: rgba(51, 51, 51, 0.363);
}

.button {
	padding: 2px 14px 2px 14px;
	margin: 5%;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	letter-spacing: 0.13rem;
	overflow: hidden;
	user-select: none;
}

.button:hover {
	color: #000 !important;
	background-color: transparent;
	transition: background 0s;
}

.button:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}

.button:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	background: #ebebeb;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.button a {
	color: #222;
	font-size: 1.2rem;
	font-family: spartan_regular, sans-serif;
	text-decoration: none;
}

.button:hover a {
	color: #222;
}

#contact_btn:before {
	background: #3ee7d6;
}

#cnt {
	border-bottom: 4px solid #3ee7d6;
	color: #222;
}

#srv {
	border-bottom: 4px solid #ebebeb;
	color: #222;
}

#button_span {
	vertical-align: 2px;
}


@keyframes fade {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

/*Work Section*/


img {
	max-width: 100%;
}

#work {
	width: 90%;
	height: 85%;
	overflow: hidden;
}

.work-big-images {
	position: absolute;
	height: 70%;
	width: 50%;
	left: 15%;


	display: flex;
}

.work-big-image {
	width: 100%;
	margin-right: -100%;
}

.work-big-image img {
	object-fit: cover;
	object-position: center 20%;
	width: 100%;
	height: 100%;
	display: block;
}

@media (max-height: 600px) {
	.work-big-image img {
		object-position: center center;
	}
}

.work-thumbnails {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 0 1rem;
	padding-top: 0.5rem;
	padding-right: 45%;
	padding-right: calc(45% + .5rem);
}

.work-thumbnail {
	display: block;
	margin-right: 0.5rem;
	padding: 0.5rem 0;
	cursor: pointer;
}

.work-cuticle {
	background-color: #d4a12d;
	position: absolute;
	bottom: 0;
	height: 0.25rem;
	width: 100%;
}

.work-thumbnail>img {
	width: auto;
}

.work-content {
	position: absolute;
	width: 40%;
	right: 5%;
	bottom: 0;
}

.work-articles {
	background: #05124d;
	color: white;
	display: flex;
	align-items: stretch;
	overflow: hidden;
}

.work-article {
	padding: 1.5rem;
	width: 100%;
	margin-right: -100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.work-paragraph {
	margin: 0;
	font-size: 0.7rem;
	line-height: 1.7;
}

.work-nav {
	position: absolute;
	right: 0;
	bottom: 100%;
	background: inherit;
}

.work-nav button {
	background: #05124d;
	border: none;
	appearance: none;
	padding: 0.5em;
	width: 2em;
	color: #fff;
	font-family: spartan_regular, sans-serif;
	transition: inherit;
	transition-duration: 300ms;
}

.work-nav button:hover,
.work-nav button:focus {
	background: #d4a12d;
	outline: none;
}

.work-nav button:active {
	outline: none;
	transform: translateY(0.25em);
	transition-duration: 100ms;
}

.work-heading {
	margin: 0;
	margin-bottom: 0.5rem;
	font-size: 1rem;
	font-weight: normal;
}



/* ---------------------------------- */
.work-big-image {
	opacity: 0;
	transform: translateX(-100%);
	transition-property: transform, opacity, filter;
	transition-duration: 0.7s, 0.7s, 0.7s;
	transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

.work-big-image img {
	transform: scale(0.85);
	transition-property: transform, opacity, filter;
	transition-duration: 0.7s, 0.7s, 0.7s;
	transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

.work-big-image[data-active]~.work-big-image {
	transform: translateX(100%);
}

.work-big-image[data-active] {
	opacity: 1;
	transform: translateX(0%);
}

.work-big-image[data-active] img {
	transform: scale(1);
}

/* ---------------------------------- */
.work-article {
	transition-property: transform, opacity, filter;
	transition-duration: 0.7s, 0.7s, 0.7s;
	transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
	transform: translateX(-100%);
}

.work-article:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #d4a12d;
	opacity: 1;
	transition-duration: 0.35s;
	z-index: 1;
}


.work-article[data-active]~.work-article {
	transform: translateX(100%);
}

.work-article[data-active] {
	transform: translateX(0%);
}

.work-article[data-active]:before {
	opacity: 0;
}

/* ---------------------------------- */
.work-thumbnail>img {
	filter: grayscale(100%);
	transition-duration: 0.35s;
}

.work-thumbnail:active>img {
	transform: scale(0.9);
	transition-duration: 100ms;
}

.work-thumbnail:focus {
	outline: none;
}

.work-cuticle {
	display: none;
}

.work-thumbnail[data-active]>img,
.work-thumbnail:hover>img {
	filter: grayscale(0%);
}

.work-thumbnail[data-active] .work-cuticle {
	display: block;
}



/*Services Section*/
.services h3 {
	color: #000;
	font-size: 3.5rem;
	letter-spacing: .2rem;
}
.services .grid li {
	padding: 50px;
	flex-basis: 50%;
	text-align: center;
}

.services .grid li i {
	color: #8c9eff;
}

.services .grid li h4 {
	font-size: 30px;
	margin: 25px 0;
}


/*Contact Section*/

#contact h1 {
	color: #05124d;
	margin: 2.5rem;
	font-size: 3.5rem;
	text-align: center;
	text-transform: uppercase;
	font-family: 'spartan_regular', sans-serif;
	font-weight: 500;
}

.contact-form {
	list-style-type: none;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.contact-form input {
	padding: 2rem;
}

.contact-input {

	padding: 3.5rem;
}

.contact-budget {
	flex-basis: 60%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.contact-budget div {
	flex-basis: 50%;
}

.contact-budget label,
.contact-budget input {
	flex-basis: 20%;
}
.contact-details {
	flex-basis: 60%;
	display: flex;
	justify-content: center;
}

.contact-details div {
	flex-basis: 50%;
}

.contact-details label,
.contact-details input {
	flex-basis: 20%;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
	width: 100%;
	margin: 0;
	padding-bottom: .4em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 3px solid slategrey;
	font-family: 'Roboto', sans-serif;
	color: lightgrey;
	font-weight: 700;
	font-size: 18px;
	transition: ease-in-out 0.25s;
}

.contact-form textarea {
	min-height: 50px;
	max-height: 500px;
	white-space: pre-wrap;
	word-wrap: break-word;
	resize: vertical;
	overflow: hidden;
}

.contact-form ::-webkit-input-placeholder {
	font-size: 12px;
	color: slategrey;
	text-transform: uppercase;
	font-weight: 400;
}

.contact-form label {
	font-size: 12px;
	color: slategrey;
	text-transform: uppercase;
	font-weight: 400;
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus,
.contact-form button:focus {
	outline: none;
	resize: none;
	border-bottom: 3px solid #db4d57;
}

.contact-form #slider-range-min {
	outline: 0;
	background: slategrey;
	height: 3.6em;
	border: 0;
	border-radius: 0;
}

.contact-form #slider-range-min .ui-slider-range {
	background: #db4d57;
	border-radius: 0;
}

.contact-form #slider-range-min .ui-slider-handle {
	outline: 0;
	top: 1.1em;
	margin-left: -0.6em;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 0;
	background: white;
	cursor: pointer;
}

.contact-form #amount {
	border: 0;
	color: lightgrey;
	font-weight: 400;
	font-size: 28px;
	padding-top: 1.1em;
	letter-spacing: 3px;
}

.contact-form button {
	margin-top: 2rem;
	color: lightgrey;
	background: rgba(34, 34, 34, 0.0);
	border: 3px solid #3ee7d6;
	height: 74px;
	width: 200px;
	float: right;
	font-weight: 700;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: ease-in-out 0.25s;
}

.contact-form button span {
	transition: ease-in-out 0.25s;
}

.contact-form button:hover {
	background: #3ee7d6;
	color: white;
	transform: scale(1.1);
	transition-duration: 100ms;
}

.contact-form button:hover span {
	padding-left: 10px;
	color: white;

}

@media (max-width: 1100px) {
	body {
		overflow: visible;

	}
	section{
		padding: 100px 20px;
	}
	.services .grid li {
		flex-basis: 100%;
	}
}

@media (max-width: 1000px) {

}

@media (max-width: 800px){
	html {
		font: normal .8rem spartan_regular, sans-serif;

	}
	.work-thumbnails {
	display: none;
	}
	.work-content{
		width: 80%;
		right: 10%;
		margin-bottom: 2rem;
	}
}
