:root {
  --primaryColor: #3ee7d6;
  --secondaryColor: #d4a12d;
  --mainWhite: #ffffff;
  --mainBlack: #000000;
  --mainGrey: #9ea0a6;
  --mainRed: #db4d57;
}

/*General Styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: spartan_regular;
  src: url(spartan_regular.otf);
}

@font-face {
  font-family: sk;
  src: url(sk.otf);
}

html {
  color: var(--mainWhite);
  font-family: spartan_regular, sans-serif;
  /* This defines what 1rem is */
  font-size: 62.5%;
}

/* 1rem = 10px; 10px/16px =62.5% */
@media only screen and (max-width: 75em) {
  html {
    /* 1 rem = 9px, 9/16 = 50% */
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    /* 1 rem = 8px, 8/16 = 50% */
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    /* 1rem = 12, 12/16 */
    font-size: 75%;
  }
}

body {
  overflow: hidden;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--mainBlack);
}

a.btn {
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: var(--mainBlack);
  color: var(--mainWhite);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 2%;
}

section:not(.hero):nth-child(even) {
  background-color: var(--mainWhite);
}

/* -------------------Screen Wipe-------------------------- */

.screen-wipe-top {
  width: 100%;
  height: 100vh;
  background: var(--mainBlack);
  position: fixed;
  z-index: 1000;
  top: -110%;
}

.screen-wipe-bottom {
  width: 100%;
  height: 100vh;
  background: var(--mainBlack);
  position: fixed;
  z-index: 1000;
  bottom: -110%;
}

/*Header Styles*/

.header-home {
  position: absolute;
  width: 100%;
  display: inline-block;
  padding: 40px;
  z-index: 10;
}

.header-logo {
  display: inline-block;
  width: 50px;
}

.logo img {
  width: 100%;
}

/* ------------------Menu --------------*/

.nav-icon {
  width: 3rem;
  height: 1.2rem;
  top: 3.5rem;
  right: 4rem;
  position: absolute;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin-top: 7px;
  z-index: 5;
}

.nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--mainBlack);
  opacity: 1;
  transition: 0.25s ease-in-out;
}

.nav-icon span:nth-child(1) {
  top: 0rem;
}

.nav-icon span:nth-child(2) {
  top: 0.5rem;
}

.nav-icon span:nth-child(3) {
  top: 1.1rem;
  width: 60%;
  right: 0;
}

.nav-icon:hover span:nth-child(3) {
  width: 100%;
}

/*------------------------ 2.1 Full Menu ------------------------*/

.full-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

/* Full Menu */

.full-menu .modal-close {
  /* 'X' icon */
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  padding: 50px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url(cd-icon-close.svg) no-repeat center center;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  visibility: 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}

.no-touch .full-menu .modal-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.full-menu.visible {
  background-size: 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.7s, visibility 0s;
}

.full-menu.visible .fullmenu-content {
  -webkit-overflow-scrolling: touch;
}

.full-menu.visible .modal-close {
  visibility: visible;
  opacity: 1;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transform: scale(1);
}

@media only screen and (min-width: 1100px) {
  .full-menu .fullmenu-content {
    padding: 6em 5%;
  }

  .full-menu .modal-close {
    height: 60px;
    width: 60px;
  }

  .full-menu p {
    font-size: 25px;
  }
}

.cd-transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.cd-transition-layer .bg-layer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-2%);
  transform: translateY(-50%) translateX(-2%);
  height: 100%;
  /* our sprite is composed of 25 frames */
  width: 2500%;
  background: url(ink.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.cd-transition-layer.visible {
  opacity: 1;
  visibility: visible;
}

.cd-transition-layer.opening .bg-layer {
  animation: cd-sequence 1s steps(24);
  animation-fill-mode: forwards;
}

.cd-transition-layer.closing .bg-layer {
  animation: cd-sequence-reverse 1s steps(24);
  animation-fill-mode: forwards;
}

.no-cssanimations .cd-transition-layer {
  display: none;
}

@keyframes cd-sequence {
  0% {
    transform: translateY(-50%) translateX(-2%);
  }

  100% {
    transform: translateY(-50%) translateX(-98%);
  }
}

@keyframes cd-sequence-reverse {
  0% {
    transform: translateY(-50%) translateX(-98%);
  }

  100% {
    transform: translateY(-50%) translateX(-2%);
  }
}

/*------------------------ 2.2 Header ------------------------*/

.full-menu .fullmenu-content {
  height: 100%;
  width: 100%;
  display: table;
}

.page-menu {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.page-menu li {
  line-height: 50px;
  margin-left: -25px;
}

.page-menu li:last-child {
  line-height: 90px;
}

.page-menu li a {
  color: var(--mainWhite);
  font-size: 26px;
  position: relative;
  font-weight: 500;
}

.social img {
  width: 15px;
}

.main .social {
  margin-top: 30px;
}

.social a {
  margin-right: 20px;
}

.social a:hover img {
  opacity: 0.6;
  transition: all ease 0.3s;
}

.social a:last-child {
  margin-right: 0px;
  color: rgb(255, 255, 255);
  font-size: 26px;
  position: relative;
  font-weight: 500;
}

.page-menu li a:hover {
  color: #3ee7d6;
}

.social {
  display: inline;
}

.social li {
  display: inline;
}

.fa_menu {
  display: inline;
  margin: 40px;
  font-size: 24px;
}

.fa:hover {
  color: var(--primaryColor);
}

/* -------------HERO--------------------- */

.kreative {
  position: relative;
  margin: -0.5em 0 1em 0.5em;
  text-transform: uppercase;
  letter-spacing: 6rem;
  font-size: 9rem;
  font-weight: bold;
  opacity: 0.1;
  text-shadow: 6px 5px 0 var(--primaryColor);
}

.social__main_list {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.2rem;
  margin: 0 auto;
  position: absolute;
  right: -20px;
  top: 42%;
  width: 140px;
  color: var(--mainGrey);
  opacity: 0.4;
}

.social__main_list li {
  list-style: none;
  margin-bottom: 10px;
}

.social__main_list li:hover {
  opacity: 0.8;
  transition: all 0.4s linear;
}

.reveal {
  position: relative;
  width: 7em;
  margin: 0 auto;
}

.reveal span {
  opacity: 0;
  animation: reveal 0.0001s linear forwards;
  animation-delay: 1.4s;
}

.reveal:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 102%;
  background: var(--mainBlack);
  animation: revealing 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: 1s;
}

@keyframes revealing {
  0% {
    left: 0;
    width: 0%;
  }

  50% {
    left: 0;
    width: 100%;
  }

  100% {
    left: 100%;
    width: 0%;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#revTwo {
  width: 7.5em;
  margin-bottom: 5rem;
}

#revTwo span {
  animation-delay: 2s;
}

#revTwo.reveal:after {
  background: var(--mainBlack);
  animation-delay: 1.4s;
}

header nav {
  display: flex;
  margin-right: -15px;
}

header nav li {
  margin: 0 15px;
}

/*Hero Styles*/

.side__bar {
  transform: rotate(90deg);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  margin: 0 auto;
  position: absolute;
  left: -20px;
  top: 44%;
  width: 140px;
  color: var(--mainGrey);
  opacity: 0.6;
}

.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: var(--mainBlack);
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-color: var(--mainWhite);
}

.hero h1 {
  font: bold 7rem "sk", sans-serif;
  color: var(--mainBlack);
}

.hero h3 {
  font: normal 28px "spartan_regular", sans-serif;
  margin-bottom: 40px;
}

.hero-content-area {
  width: 100%;
}

.typing {
  font-family: "spartan_regular", sans-serif;
  font-size: 1.8rem;
  opacity: 0;
  animation: appear 0.8s ease-in forwards;
  animation-delay: 2.9s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.9;
  }
}

/* Buttons */

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 80rem;
  margin: 10rem auto 0 auto;
}

.button_main {
  flex: 1 1 auto;
  margin: 1rem 8rem;
  padding: 2rem;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: .8s;
  font: 2rem "spartan_regular", sans-serif;
}

.button_main:after {
  position: absolute;
  transition: .8s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #f7f7f7;
}

.button_main:after {
  right: 0;
  left: auto;
}

.button_main:hover {
  cursor: pointer;
}

.button_main:hover:after {
  width: 100%;
  left: 0;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* About Section */

.our_process h4,
.who_we_are h4 {
  text-align: left;
  font: 2rem "spartan_regular", sans-serif;
  width: 38rem;
  margin: 2rem;
}

.who_we_are h4:first-of-type {
  margin-top: 4rem;
}

.highlight {
  background: linear-gradient(180deg, #ffffff00 70%, #3ee7d6ad 50%);
}

.highlight2 {
  background: linear-gradient(180deg, #ffffff00 70%, #3ee7d6ad 30%);
}

.steps {
  background: linear-gradient(180deg, #ffffff00 70%, #3ee7d6ad 30%);
  font-weight: bold;
}

.first_step {
  margin-top: 40px !important;
}

section h2.title_about {
  text-transform: capitalize;
  font: bold 6rem "sk", sans-serif;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--mainBlack);
}

section h2.title_about::after {
  content: "\00a0";
  display: block;
  height: 6px;
  margin-top: 1rem;
  background: var(--mainBlack);
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--mainBlack);
}

li>h3 {
  font: 4rem "spartan_regular", sans-serif;
}

li>p {
  font: 1.5rem "spartan_regular", sans-serif;
}

.who_we_are,
.our_process {
  text-align: center;
  padding: 1rem;
  margin: 2rem 5rem;
}

.who_we_are img {
  margin-top: 10px;
}

.about_buttons {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about_buttons>.button {
  margin: 0 20rem;
}

/*Work Section*/

img {
  max-width: 100%;
}

#work {
  width: 90%;
  height: 85%;
  overflow: hidden;
}

.work-big-images {
  position: absolute;
  /* height: 100%; */
  width: 46%;
  left: 24%;

  display: flex;
}

.work-big-image {
  width: 100%;
  margin-right: -100%;
}

.work-big-image img {
  object-fit: cover;
  object-position: center 20%;
  width: 100%;
  /* height: 100%; */
  display: block;
}

@media (max-height: 600px) {
  .work-big-image img {
    object-position: center center;
  }
}

.work-thumbnails {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--mainWhite);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 4rem;
  padding-top: 0.5rem;
  padding-right: 45%;
  padding-right: calc(45% + 0.5rem);
}

.work-thumbnail {
  display: block;
  margin-right: 0.5rem;
  padding: 0.5rem 0;
  cursor: pointer;
}

.work-cuticle {
  background-color: var(--secondaryColor);
  position: absolute;
  bottom: 0;
  height: 0.25rem;
  width: 100%;
}

.work-thumbnail>img {
  width: auto;
}

.work-content {
  position: absolute;
  width: 42%;
  right: 4rem;
  bottom: 4rem;
}

.work-articles {
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

.work-article {
  padding: 2.5rem;
  width: 100%;
  margin-right: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work-article a {
  padding: 0.5rem;
  width: 100%;
  margin-right: -100%;
}

.work-paragraph {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.7;
}

.work-nav {
  position: absolute;
  right: 0;
  bottom: 100%;
  background: inherit;
}

.work-nav button {
  background: #05124d;
  border: none;
  appearance: none;
  padding: 0.5em;
  width: 2em;
  color: var(--mainWhite);
  font-family: spartan_regular, sans-serif;
  transition: inherit;
  transition-duration: 300ms;
}

.work-nav button:hover,
.work-nav button:focus {
  background: var(--secondaryColor);
  outline: none;
}

.work-nav button:active {
  outline: none;
  transform: translateY(0.25em);
  transition-duration: 100ms;
}

.work-heading {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: normal;
}

/* ---------------------------------- */
.work-big-image {
  opacity: 0;
  transform: translateX(-100%);
  transition-property: transform, opacity, filter;
  transition-duration: 0.7s, 0.7s, 0.7s;
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

.work-big-image img {
  transform: scale(0.85);
  transition-property: transform, opacity, filter;
  transition-duration: 0.7s, 0.7s, 0.7s;
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

.work-big-image[data-active]~.work-big-image {
  transform: translateX(100%);
}

.work-big-image[data-active] {
  opacity: 1;
  transform: translateX(0%);
}

.work-big-image[data-active] img {
  transform: scale(1);
}

/* ---------------------------------- */
.work-article {
  transition-property: transform, opacity, filter;
  transition-duration: 0.7s, 0.7s, 0.7s;
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  transform: translateX(-100%);
}

.work-article:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondaryColor);
  opacity: 1;
  transition-duration: 0.35s;
  z-index: 1;
}

.work-article[data-active]~.work-article {
  transform: translateX(100%);
}

.work-article[data-active] {
  transform: translateX(0%);
}

.work-article[data-active]:before {
  opacity: 0;
}

/* ---------------------------------- */
.work-thumbnail>img {
  filter: grayscale(100%);
  transition-duration: 0.35s;
}

.work-thumbnail:active>img {
  transform: scale(0.9);
  transition-duration: 100ms;
}

.work-thumbnail:focus {
  outline: none;
}

.work-cuticle {
  display: none;
}

.work-thumbnail[data-active]>img,
.work-thumbnail:hover>img {
  filter: grayscale(0%);
}

.work-thumbnail[data-active] .work-cuticle {
  display: block;
}

/*Services Section*/

section h2.title_services {
  text-transform: capitalize;
  font: bold 6rem "sk", sans-serif;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--mainBlack);
}

section h2.title_services::after {
  content: "\00a0";
  display: block;
  height: 6px;
  margin-top: 1rem;
  background: var(--mainBlack);
}

.services h3 {
  padding: 1rem;
}

.services h4 {
  font: 2rem "spartan_regular", sans-serif;
}

.services .grid li {
  padding: 3rem 6rem;
  flex-basis: 50%;
  text-align: center;
}

.services .grid li i {
  color: var(--mainBlack);
}

.services .grid li p {
  font-size: 1.5rem;
}

/*Contact Section*/
#contact {
  padding: 8rem;
}

#contact h2 {
  text-transform: capitalize;
  font: bold 6rem "sk", sans-serif;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--mainBlack);
}

#contact h2:after {
  content: "\00a0";
  display: block;
  height: 6px;
  margin-top: 1rem;
  background: var(--mainBlack);
}

.contact-form {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 28rem;
  margin-top: 10rem;
}

.contact-input {
  flex-basis: 50%;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.contact-input input {
  padding: 1rem 0;
}

.contact-budget {
  flex-basis: 100%;
  display: flex;
  padding: 1rem 3.1rem;
  margin-bottom: 2rem;
}

.contact-budget div {
  flex-basis: 80%;
}

.contact-budget label,
.contact-budget input {
  flex-basis: 20%;
}

.contact-details {
  flex-basis: 100%;
  padding: 0 2rem;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  width: 100%;
  margin: 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 3px solid var(--mainGrey);
  font-family: "Roboto", sans-serif;
  color: var(--mainBlack);
  font-weight: 700;
  font-size: 1.8rem;
  transition: ease-in-out 0.25s;
}

.contact-form textarea {
  min-height: 3rem;
  max-height: 500px;
  white-space: pre-wrap;
  word-wrap: break-word;
  resize: vertical;
  overflow: hidden;
}

.contact-form ::-webkit-input-placeholder {
  font-size: 1.3rem;
  color: var(--mainGrey);
  text-transform: uppercase;
  font-weight: 400;
}

.contact-form label {
  font-size: 1.3rem;
  color: var(--mainGrey);
  text-transform: uppercase;
  font-weight: 400;
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus,
.contact-form button:focus {
  outline: none;
  resize: none;
  border-bottom: 3px solid var(--mainRed);
}

.contact-form #slider-range-min {
  outline: 0;
  background: var(--mainGrey);
  height: 3.6em;
  border: 0;
  border-radius: 0;
}

.contact-form #slider-range-min .ui-slider-range {
  background: var(--mainRed);
  border-radius: 0;
}

.contact-form #slider-range-min .ui-slider-handle {
  outline: 0;
  top: 1rem;
  margin-left: -0.6em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0;
  background: var(--mainWhite);
  cursor: pointer;
}

.contact-form #amount {
  border: 0;
  color: lightgrey;
  font-weight: 400;
  font-size: 1.8rem;
  width: 600px;
  letter-spacing: 3px;
}

.contact-form button {
  margin-top: 2rem;
  color: lightgrey;
  background: rgba(34, 34, 34, 0);
  border: 3px solid var(--primaryColor);
  height: 7.4rem;
  width: 20rem;
  float: right;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: ease-in-out 0.25s;
}

.contact-form button span {
  transition: ease-in-out 0.25s;
}

.contact-form button:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
  transform: scale(1.1);
  transition-duration: 100ms;
}

.contact-form button:hover span {
  padding-left: 10px;
  color: var(--mainWhite);
}

@media (max-width: 1500px) {}

@media (max-width: 1100px) {
  body {
    overflow: visible;
  }

  section {
    padding: 100px 20px;
  }

  .services .grid li {
    flex-basis: 100%;
  }
}

@media (max-width: 1000px) {
  .contact-form #slider-range-min .ui-slider-handle {
    top: 0.8rem;
  }
}

@media (max-width: 800px) {
  .work-thumbnails {
    display: none;
  }

  .work-content {
    width: 80%;
    right: 10%;
    margin-bottom: 2rem;
  }

  .contact-form {
    padding: 2rem 5rem;
  }

  .contact-form li {
    flex-basis: 100%;
  }
}

@media (max-width: 600px) {
  #contact {
    padding: 8rem 4.5rem;
  }

  #contact h1 {
    margin: 8rem 0 3rem 0;
  }

  .contact-budget div {
    flex-basis: 58%;
  }

  .contact-form {
    padding: 2rem 0;
  }

  .contact-budget {
    padding: 0 1rem 2rem 3.1rem;
  }

  .contact-form #amount {
    letter-spacing: 0;
    margin: 0;
  }
}